.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.profile-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-primary:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-secondary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.character-list {
    list-style-type: none;
    padding: 0;
}
.character-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    transition: box-shadow 0.3s;
}

.character-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-header {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
}

.character-header:hover {
    text-decoration: underline;
    color: #0056b3;
}

.character-details p {
    margin: 5px 0;
}

.character-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.class-icon {
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 50px;
}
.equipment-grid,
.inventory-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.equipment-grid {
    grid-template-columns: repeat(5, 1fr);
}

.inventory-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 20px 0;
}

.equipment-slot,
.inventory-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}

.equipment-slot img,
.inventory-slot img {
    max-width: 100%;
    max-height: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.item img {
    width: 50px;
    height: 50px;
}

.item span {
    display: none;
}

.item .tooltip {
    display: none;
}

.item:hover .tooltip,
.item:active .tooltip {
    display: block;
    white-space: pre;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: max-content;
    max-width: 1000px;
    text-align: left;
}

.inventory-item-wrapper {
    position: relative;
}

.delete-button {
    position: absolute;
    top: -1%;
    right: -39%;
    transform: translate(-50%, -50%);
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}
.button-danger:hover {
    background-color: darkred;
    transform: scale(1.05);
}